<footer>
  <div class="footer-wrapper">
    <div class="footer-info">
      <ul>
        <li><i class="fa fa-laptop"></i><a href="#">chris@whatawordisthis.com</a></li>
        <li><i class="fa fa-twitter"></i><a href="#">@CKit_Eph2_8</a>  </li>
        <li><i class="fa fa-phone"></i> (256) 783-1169 </li>
        <li><i class="fa fa-envelope"></i> 901 County Rd. 251, Moulton, AL 35650</li>
      </ul>
    </div><!--/footer-info-->
    <div class="footer-verse">
      <p><em>"For by grace are ye saved through faith; and that not of yourselves:it is the gift of God: Not of works, lest any man should boast."</em></p>
      <p><strong>Ephesians 2:8-9</strong></p>
    </div><!--/footer-verse-->
    <div class="footer-menu">
      <div class="menu-wrapper">
        <a href="#">Blog</a>
        <a href="#">Sermons</a>
        <a href="#">Contact</a>
        </div>
    </div><!--/footer-menu-->
    <div class="footer-footer">
      <p>Powered by Sitesfor.Church</p>
    </div><!--/footer-footer-->
  </div><!--/footer-wrapper-->
</footer>
